* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  background: #fff;
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.logo {
  padding: 4px 0;
}

.form {
  margin-left: 8px;
}

.form input{
  padding: 4px 8px;
}

.links {
  padding: 4px 0;
  margin-left: auto;
  margin-right: 1em;
}

.toggle {
  padding: 4px 0;
  display: none;
}

.show {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .form {
    display: none;
    order: 1;
    margin-left: 0;
    padding: 4px 0;
  }
  .links {
    display: none;
    margin-left: 0;
    padding: 4px 0;
  }
  .navbar {
    flex-direction: column;
  }
  .toggle {
    align-self: flex-end;
    position: absolute;
    display: initial;
  }
}
