body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

main {
  min-height: 400px;
  min-width: 400px;
  background: #fff;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 16px 0px #b6b6b6;
  width: 70%;
}

nav {
  display: flex;
  align-items: center;
}

form {
  margin: auto;
}

links {
}
