* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
}

.navbar {
  padding: 6px 12px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
}

.brand {
  padding: 4px 0;
}

.toggle {
  display: none;
  padding: 20px 10px;
}

.nav-item {
  order: 1;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-item > .tab {
  padding: 8px;
}

.nav-item .tab a {
  text-decoration: none;
  color: black;
}

.nav-item .tab a:hover {
  color: red;
}

.show {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }
  .toggle {
    align-self: flex-end;
    position: absolute;
    display: initial;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-item {
    flex-direction: column;
  }
}
